body {
    background-color: rgba(29, 45, 60, 1);
    height: 100vh;
}

main {
    overflow: auto;
    padding-top: 150px;
}

header,
.card {
    color: white;
    background-color: rgba(6, 19, 31, 1);
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
